<div class = "panel panel-default formPanel">
  <div class = "panel-body">
    <form name="employeeForm" novalidate ng-submit="employeeForm.$valid && addEmployee()">
      <div class="row" style="margin:50px;">
          <div class="col-xs-2 form-group"  ng-class="{ 'has-error' : employeeForm.firstName.$invalid && !employeeForm.firstName.$pristine }">
              <label>First Name</label>
              <input class="form-control" name="firstName" type="text" ng-maxlength="50"
              ng-model="firstName" ng-pattern="alphanumericPattern" required/>
              <div ng-messages="employeeForm.firstName.$error">
                  <div ng-message="required">This field is required</div>
                  <div ng-message="maxlength">First Name must not exceed 50 characters</div>
                  <div ng-message="pattern">Must be a valid first name</div>
              </div>
          </div>
          <div class="col-xs-2 form-group"
          ng-class="{ 'has-error' : employeeForm.surName.$invalid &&
         !employeeForm.surName.$pristine }">
              <label>Surname</label>
              <input name="surName" class="form-control" type="text" ng-model="surName"
              ng-maxlength="50" ng-pattern="alphanumericPattern" required/>
              <div ng-messages="employeeForm.surName.$error">
                  <div ng-message="required">This field is required</div>
                  <div ng-message="maxlength">Surname must not exceed 50 characters</div>
                  <div ng-message="pattern">Must be a valid surname</div>
              </div>
          </div>
      </div>
      <div class="row" style="margin:50px;">
          <div class="col-xs-2 form-group"
           ng-class="{ 'has-error' : employeeForm.contactNumber.$invalid &&
          !employeeForm.contactNumber.$pristine }" >
              <label>Contact Number</label>
              <input name="contactNumber" class="form-control"
              type="text" ng-model="contactNumber" ng-pattern="contactNumberPattern"  required/>
              <div ng-messages="employeeForm.contactNumber.$error">
                    <div ng-message="required">This field is required</div>
                    <div ng-message="maxlength">Please enter a valid contact number!</div>
             </div>
          </div>
          <div class="col-xs-2 form-group"
               ng-class="{ 'has-error' : employeeForm.email.$invalid &&
               !employeeForm.email.$pristine }">
              <label>Email</label>
              <input name="email" type="email" class="form-control"  ng-pattern="emailPattern" ng-model="email" required/>
              <div ng-messages="employeeForm.email.$error">
                    <div ng-message="required">This field is required</div>
                    <div ng-message="pattern">Please enter a valid email address!</div>
             </div>
          </div>
      </div>
      <div class="btn-group-vertical pull-right">
        <button type="submit" class="btn primary" ng-disabled="employeeForm.$invalid">Add</button>
      </div>
    </form>
  </div>
</div>
<div class="messagePanel"><h3> {{message}}</h3></div>
<div ui-grid="gridOptions" ui-grid-edit  ui-grid-cellNav ui-grid-validate class="grid" ></div>
