<div role="rowgroup"
     class="ui-grid-header">
    <div class="ui-grid-top-panel">
        <div class="ui-grid-header-viewport">
          <div class="ui-grid-header">
            <div role="row"                 >
                 <div class="col-md-11">
                   <h3>Employee Data</h3>
                 </div>
                 <div class=" col-md-1">
                    <div class="  btn-group-vertical pull-right">
                      <button class="btn primary loadButton" ng-click="grid.appScope.loadEmployees()">Load</button>
                    </div>
                 </div>
           </div>
          </div>
            <div class="ui-grid-header-canvas">
                <div class="ui-grid-header-cell-wrapper"
                     ng-style="colContainer.headerCellWrapperStyle()">
                    <div role="row"
                         class="ui-grid-header-cell-row">
                        <div class="ui-grid-header-cell ui-grid-clearfix"
                             ng-repeat="col in colContainer.renderedColumns track by col.uid"
                             ui-grid-header-cell
                             col="col"
                             render-index="$index">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
