.grid {
  margin-top:50px;
  margin-right:10px;
  margin-left:10px;
}

.grid .ui-grid-render-container-body .ui-grid-viewport {
    overflow-x: auto !important; //remove horizontal scrollbar if not necessary

}

.formPanel {
  margin:10px;
}

.loadButton {
  margin-top:20px;
}

.messagePanel{
  text-align:center;

}
